
.mat-header-cell{
  justify-content: flex-end;
  text-align: center;
}
.mat-cell{
  justify-content: flex-end;
  text-align: center;
}
.mat-column{
  width: auto;
}
.mat-row{
  height : auto;
}
table {
    
    width: 98%;
    align-content: center;
    padding: 1%;
    margin: 15px;
    border-bottom: 5px solid #ddd;
  }
  .search-form-field {
    width: 90%;
    align-content: center;
    margin-left: 40px;
  }
  td{
    width: 45%;
  }
  th {
    width: 45%;
    padding: 10%;
    
  }
  .upload-button{
    float : right;
  }